.st0 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 7.6405;
    stroke-miterlimit: 10;
}
.st1 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 15.281;
    stroke-miterlimit: 10;
}
.st2 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 1.9101;
    stroke-miterlimit: 10;
}
.st3 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 4.2023;
    stroke-miterlimit: 10;
}
.st4 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 4.9663;
    stroke-miterlimit: 10;
}
.st5 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 11.4607;
    stroke-miterlimit: 10;
}
.st6 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 3.8202;
    stroke-miterlimit: 10;
}
.st7 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 2.2921;
    stroke-miterlimit: 10;
}
.st8 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 3.0562;
    stroke-miterlimit: 10;
}
.st9 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 4.5843;
    stroke-miterlimit: 10;
}
.st10 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 3.4382;
    stroke-miterlimit: 10;
}
.st11 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 2.6742;
    stroke-miterlimit: 10;
}
.st12 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 1.1461;
    stroke-miterlimit: 10;
}
.st13 {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 0.764;
    stroke-miterlimit: 10;
}
.st14 {
    fill: #ffffff;
}
.st15 {
    fill: #808080;
}
.st16 {
    font-family: 'Helvetica75-Bold';
}
.st17 {
    font-size: 20.9588px;
}
.st18 {
    opacity: 0.1;
    fill: #f15a24;
}
.st19 {
    opacity: 0.1;
    fill: #26ef26;
}
.st20 {
    opacity: 0.1;
    fill: #ffe708;
}
.st21 {
    opacity: 0.1;
    fill: #29abe2;
    stroke: #ffffff;
    stroke-width: 0.3784;
    stroke-miterlimit: 10;
}
.st22 {
    fill: #0280ff;
    stroke: #a5a5a5;
    stroke-width: 1.5281;
    stroke-miterlimit: 10;
}
.st23 {
    fill: #ff00ff;
    stroke: #a5a5a5;
    stroke-width: 1.5281;
    stroke-miterlimit: 10;
}
