.hello {
    justify-content: center;
    align-items: center;
}

.font {
    font-size: 14px;
}

rect {
    opacity: 1;
}

rect:not(:hover) {
    opacity: 1;
}

rect:hover {
    opacity: 1;
}

.Sankey:hover {
    opacity: 0.5;
}
/* .Node node:hover {
    opacity: 0.5;
} */
