$representationNodeColor: #0280ff;
$visualvariablesNodeColor: #e5df00;
$lineColor: #c0c0c0;
$lineOpacity: 0.5;

.networksContainer {
    border-bottom: 1px solid black;
}
.title {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.categoryWrapper {
    display: flex;
    padding-top: 11px;
    padding-left: 13px;
}
.networkArea {
    padding: 10px 10px 0px 10px;
    // margin-left: 15px;
}

@mixin line {
    fill: none;
    stroke: $lineColor;
    opacity: $lineOpacity;
    stroke-miterlimit: 10;
}
@mixin node {
    stroke: none;
}
// .st0 {
//     @include line;
//     stroke-width: 7.6405;
// }
.st1 {
    @include line;
    stroke-width: 4;
}
.st7 {
    @include line;
    // stroke-width: 2.2921;
}
.st8 {
    @include line;
    stroke-width: 2;
}
.st9 {
    @include line;
    stroke-width: 13;
}
.st10 {
    @include line;
    stroke-width: 9;
}
.st11 {
    @include line;
    stroke-width: 6;
}
.st12 {
    @include line;
    stroke-width: 5;
}
.st13 {
    @include line;
    stroke-width: 10;
}
.st14 {
    @include line;
    stroke-width: 3;
}
.st15 {
    @include line;
    stroke-width: 8;
}
.st16 {
    @include line;
    stroke-width: 7;
}
.st17 {
    @include line;
    stroke-width: 14;
}
.st18 {
    @include line;
    stroke-width: 11;
}

.nodeText {
    font-weight: 650;
    font-size: 25.5px;
    display: block;
    white-space: wrap;
}

.area1 {
    opacity: 0.2;
    fill: #7cc2e5;
    cursor: pointer;
} // position, value, shape
.area1:hover {
    opacity: 0.5;
}
.area2 {
    opacity: 0.2;
    fill: #d75789;
    cursor: pointer;
} // distance, orientation
.area2:hover {
    opacity: 0.5;
}
.area3 {
    opacity: 0.2;
    fill: #795baa;
    cursor: pointer;
} // color, dimension
.area3:hover {
    opacity: 0.5;
}
.representationNode {
    fill: $representationNodeColor;
    @include node;
}
.intermediationNode {
    fill: $visualvariablesNodeColor;
    @include node;
}
