$intermediationNodeColor: #00d12c;
$repreentationNodeColor: #fb28fb;
$lineColor: #c0c0c0;
$lineOpacity: 0.5;

.networksContainer {
    border-bottom: 1px solid black;
}
.title {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.categoryWrapper {
    display: flex;
    padding-top: 15px;
    padding-left: 13px;
}
.networkArea {
    padding: 10px 10px 0px 10px;
    // margin-left: 15px;
}

@mixin line {
    fill: none;
    stroke: $lineColor;
    opacity: $lineOpacity;
    stroke-miterlimit: 10;
}
@mixin node {
    stroke: none;
}
// .st0 {
//     @include line;
//     stroke-width: 7.6405;
// }
.st1 {
    @include line;
    stroke-width: 4;
}
// .st2 {
//     @include line;
//     stroke-width: 1.9101;
// }
// .st3 {
//     @include line;
//     stroke-width: 4.2023;
// }
// .st4 {
//     @include line;
//     stroke-width: 4.9663;
// }
// .st5 {
//     @include line;
//     stroke-width: 11.4607;
// }
// .st6 {
//     @include line;
//     stroke-width: 3.8202;
// }
.st7 {
    @include line;
    // stroke-width: 2.2921;
}
.st8 {
    @include line;
    stroke-width: 2;
}
.st9 {
    @include line;
    stroke-width: 13;
}
.st10 {
    @include line;
    stroke-width: 9;
}
.st11 {
    @include line;
    stroke-width: 6;
}
.st12 {
    @include line;
    stroke-width: 5;
}
.st13 {
    @include line;
    stroke-width: 10;
}
.st14 {
    @include line;
    stroke-width: 3;
}
.st15 {
    @include line;
    stroke-width: 8;
}
.st16 {
    @include line;
    stroke-width: 7;
}
.st17 {
    @include line;
    stroke-width: 14;
}
.st18 {
    @include line;
    stroke-width: 11;
}

.nodeText {
    font-weight: 650;
    font-size: 25.5px;
    display: block;
    white-space: wrap;
}
// .st15 {
//     fill: #808080;
//     font-size: 14px;
// }

// .st16 {
//     font-family: 'Helvetica75-Bold';
// }
//ellipse

.area1 {
    opacity: 0.15;
    fill: #00d12c;
    cursor: pointer;
} // timeline analysis
.area1:hover {
    opacity: 0.5;
}
.area2 {
    opacity: 0.2;
    fill: #f1b749;
    cursor: pointer;
} // analysis of debates ~, argument expression == Cluster 4와 동일.
.area2:hover {
    opacity: 0.5;
}
.area3 {
    opacity: 0.2;
    fill: #d75789;
    cursor: pointer;
} // emotion detection, opinion summarization, polarity classification = 완료
.area3:hover {
    opacity: 0.5;
}
.area4 {
    fill: #eae41f;
    opacity: 0.22;
    cursor: pointer;
} // finding significant, easy exploration of senitment information, comparison of different sentiments

.area4:hover {
    opacity: 0.5;
}
.area5 {
    opacity: 0.33;
    fill: #56bae2;
    cursor: pointer;
} // identifying the intent of sentiment information, detection of evidence ~, emotion cause detection
.area5:hover {
    opacity: 0.5;
}
.area6 {
    fill: #795baa;
    opacity: 0.2;
    cursor: pointer;
} // sentiment information ~, aspect based sentiment
.area6:hover {
    opacity: 0.5;
}
.targetNode {
    fill: $repreentationNodeColor;
    @include node;
}
.intermediationNode {
    fill: $intermediationNodeColor;
    @include node;
}
