.mainSankey {
    margin-left: 600px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.container .sankey {
    // margin-left: 2em;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.sankey {
    margin-top: 20px;
}

path.link {
    opacity: 0.45;
}

path.link:hover {
    opacity: 1;
}
