.App {
    width: 100vw;
    height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.mainSankey {
    margin-left: 800px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.container {
}

.double-menu-grid {
    // width: 20%;
    // display: inline;
    // position: relative;
}

.container .sankey {
    margin-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sankey {
    margin-top: 20px;
}

path.link {
    opacity: 0.45;
}

path.link:hover {
    opacity: 1;
}
