.mainSankey {
    margin-left: 500px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.container {
    /* display: flex; */
    /* margin-right: 100px; */
}
.container .sankey {
    /* margin-left: 2em; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

path.link {
    opacity: 0.45;
}

path.link:hover {
    opacity: 1;
}
